.bg {
  position: absolute;
 z-index: -10;

  transform-origin: center center;
  animation: scaleAnim 4s ease-in-out infinite;
  /* Optional for smoother rendering */
  will-change: transform;
}

@keyframes scaleAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
